# :c: lowpolysurf 2026

NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://postgres:zNrqvIlozTXwXibHGhgtAXRxoyxClcla@iriguchi.proxy.rlwy.net:23829/railway #PUBLIC URL

AUTH0_DOMAIN=our-auth0-domain
AUTH0_AUDIENCE=our-api-audience